<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Aplikasi rekam medis digital modern untuk menyimpan, mengelola, dan mengakses rekam medis pasien secara efisien. Didesain untuk meningkatkan kualitas layanan kesehatan dengan akses cepat dan aman ke informasi medis."
    />
    <meta
      name="keywords"
      content="rekam medis digital, manajemen rekam medis, aplikasi kesehatan, informasi medis, teknologi kesehatan, layanan kesehatan digital, aplikasi rekam medis, e-health, sistem informasi kesehatan"
    />
    <title>MedPoin</title>
  </head>
  <body class="bg-white dark:bg-slate-800">
    <header-navbar></header-navbar>
    <side-bar></side-bar>

    <main class="h-auto p-8 pt-20 md:ml-64">
      <div class="mb-4 grid grid-cols-1 grid-rows-[64px_1fr] gap-4">
        <content-title data-link="Registrasi Pasien"></content-title>
        <div id="main-content" class="text-gray-700 dark:text-white"></div>
      </div>
    </main>
  </body>
</html>
