<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Aplikasi rekam medis digital modern untuk menyimpan, mengelola, dan mengakses rekam medis pasien secara efisien. Didesain untuk meningkatkan kualitas layanan kesehatan dengan akses cepat dan aman ke informasi medis."
    />
    <meta
      name="keywords"
      content="rekam medis digital, manajemen rekam medis, aplikasi kesehatan, informasi medis, teknologi kesehatan, layanan kesehatan digital, aplikasi rekam medis, e-health, sistem informasi kesehatan"
    />
    <title>Login Page</title>
  </head>
  <body class="h-screen bg-gray-50 dark:bg-gray-900">
    <login-form></login-form>
  </body>
</html>
